{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
    <div class="formStructure">
        <a href="{{ path('app_admin_session_index') }}"><img src="{{ asset('public/images/icons/arrow-left-solid.svg') }}" alt="back"> back to list</a>
        <h1>Edit Session</h1>
        {{ include('admin/session/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('admin/session/_delete_form.html.twig') }}
    </div>
{% endblock %}
