{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <div class="newElementForm">
        <h1>Create new Student</h1>

        {{ include('admin/student/_form.html.twig') }}
        <div class="adminBtn">
        <a href="{{ path('app_admin_student_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
