{% extends 'student_dashboard_base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <main>
        <section {{ react_component('ProfileContainer') }}></section>
        <section></section>
    </main>
    
{% endblock %}
