{% extends 'student_dashboard_base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <header>
    </header>
    <main>
        <section></section>
        <section></section>
    </main>
    
{% endblock %}
