{% extends 'base.html.twig' %}

{% block title %}New Assignment{% endblock %}

{% block body %}
<div class="formStructure">
    <h1>Create new Assignment</h1>

    {{ include('admin/assignment/_form.html.twig') }}
    <div class="adminBtn">
    <a href="{{ path('app_admin_assignment_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
