@import "../styles/mixins.scss";
@import "../styles/variables.scss";
@import "../styles/keyframes.scss";


* {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
li {
    list-style: none;
}

body {
    background-color: whitesmoke;
    position: relative
}

i {
    margin-right: 15px;
}

h1{
    margin-top: 15vh;
}

h2{
    font-size: 2.3rem;
    color: $primaryDark;
    text-shadow: 5px 5px 5px $primaryLight;
}




// _________________||| HEADER \\\________________
header {
    @include dFlex(column);
    @include centerXY(center, center);
    width: 100%;
    padding: 25px;

    h1, p{
        text-align: center;
        margin-top: 0;
    }
    p {
        width: 90%;
        margin: 0 auto;
    }
}

.basicHeader {
    margin-top: 15vh;
    position: relative;
    padding: 50px 30px;
    margin-bottom: 30px;

    h1 {
        color: $primaryDark;
        text-shadow: 5px 5px 5px $primaryLight;
        font-size: 2.5rem;
        z-index: 10;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.3rem;
        line-height: 2rem;
        z-index: 10;
    }

    

    .bubble{
        position: absolute;
        width: 15%;
        aspect-ratio: 1;
        border-radius: 50%;
        box-shadow: inset 0 0 30px $primaryDark, 0 0 5px $primaryDark;
        opacity: 0.2;
        z-index: 1;

        
        &:nth-of-type(1){
            top: 0;
            left: 0;
            width: 12%;
            animation: moveBubble1 40s infinite;
        }
        &:nth-of-type(2){
            bottom: 0;
            right: 50%;
            animation: moveBubble2 40s infinite;
        }
        &:nth-of-type(3){
            top: 0;
            right: 0;
            width: 17%;
            animation: moveBubble3 40s infinite;
        }
    }


}

.bgHeader {
    margin-top: 5vh;
    background-image: url("../images/compass_header_background.jpg");
    background-size: cover;
    opacity: 0.9;
    box-shadow: 0 0 5px $primaryDark;
    
    section {
        @include dFlex(column);
        @include centerXY(center, center);
        width: 55vw;
        margin-block: 50px;
        padding-block: 25px;
        background-color: $lightGrey;
        opacity: 0.8;
        border-radius: 15px;
        text-align: center;

        h1 {
            padding: 20px;
        }

        .description {
            padding-inline: 30px;
            font-size: 1.4rem;
            line-height: 2.5rem;
        }
    }
}


// _________________||| NAVBARS \\\________________


.frontNav,
.backNav {
position: fixed;
top: 0;
z-index: 99;
    @include dFlex(row);
    @include centerXY(space-between, center);
    background: linear-gradient(100deg, $primaryLight, $primaryDark);
    color: $primaryDark;
    box-shadow: 0 0 4px 1px $primaryDark;
    width: 100%;


    // _________________||| LOGO \\\________________
    .logo {
        font-size: 22px;
        height: 10vh;
        width: 15vw;
        transition: all 0.3s ease-in;
        
        a {
            @include dFlex(row);
            @include centerXY(center, center);
            cursor: pointer;
            color: white;
            height: 100%;
            width: 100%;

            img {
                height: 100%;
            }
        }

        .textLogo{
            @include dFlex(column);

            span{
                color: $primaryDark;
                font-size: 1.5rem;
                font-weight: bold;
    
                &:nth-child(2){
                    color: $primaryDark;
                    font-size: 1.2rem;
                    font-weight: normal;
                    font-style: italic;
                    margin-left: 10px;
                    margin-top: -5px;
    
                }
            }
        }
    }

    // _________________||| LINKS \\\________________
    .dropDownBtn, .homeBtn {
        display: none;
    }
    .navLinks {
        @include dFlex(row);
        @include centerXY(space-evenly, center);
        font-size: 18px;
        width: 68vw;
        padding: 0;

        li {
            list-style: none;
            width: 14%;
            margin-inline: 5px;

            a {
                display: block;
                width: 100%;
                
                @include roundedBtn;
                color: white;
                text-decoration: none;
                background-color: $primaryDark;
                opacity: 0.8;
                text-align: center;

                &:hover {
                    color: $primaryDark;
                    cursor: pointer;
                    box-shadow: 0 0 5px black;
                    background-color: $primaryLight;
                }
            }
        }
    }

    .loginBtn,
    .logoutBtn {
        @include dFlex(row);
        @include centerXY(center, center);
        font-size: 20px;
        border-left: solid 1px white;
        
        a {
            width: 15vw;
            height: 70px;
            @include dFlex(row);
            @include centerXY(center, center);
            text-decoration: none;
            color: white;

            svg{
                height: 20px;
                width: 20px;
                margin-right: 15px;


            }
        }

        &:hover {
            background-color: $primaryLight;
            cursor: pointer;

            a {
                color: $primaryDark;
            }
        }
    }
}

.backNav {
    position: fixed;
    top:0;

    ul {
        margin-block-start: 0.5em;
        margin-block-end: 0;
    }

    .logoutBtn {
        height: 80px;
    }
}

// _________________||| TITLE & DESCRIPTION \\\________________





// _________________||| ABOUT US \\\________________\\
.whoAreWeSection {
    margin-top: 40px;
    @include dFlex(column);
    @include centerXY(space-between, center);

    h3 {
        font-size: 1.5rem;
    }

    .whoAreWeProfile {
        @include dFlex(row);
        @include centerXY(space-between, center);
        margin-bottom: 40px;

        .imgContainer {
            width: 35%;
            margin: 0 auto;
    
            img{
                width: 100%;
                border-radius: 15px;
                box-shadow: black 0 0 15px;
            }
        }

        p{
            width: 50%;
            font-size: 1.5rem;
            text-align: justify;
            line-height: 2.3rem;
        }
    }

    .reverseProfile {
        flex-direction: row-reverse;
    }
    
    
    .whoAreWeBtn {
        margin: 40px auto;

        a {
            @include roundedBtn;
            padding: 10px;
        }
    }
}

// _________________||| TEAM \\\________________\\
main{
    position: relative;
    z-index: 10;
    width: 90%;
    margin-inline: auto;
    
    .professorsList {
        margin-block: 40px;
        @include dFlex(column);
        @include centerXY(space-between, center);
    
        h1 {
            font-size: 3rem;
            color: $primaryDark;
            text-shadow: 5px 5px 5px $primaryLight;

        }
    
        
        .teacherComponent {
            @include dFlex(row);
            @include centerXY(space-evenly, center);
            padding-block: 50px;
            border-bottom: solid 2px;
            border-image: linear-gradient(to right, transparent 25%, $primaryDark 25%, $primaryDark 75%, transparent 75%) 1;
            
            
            
    
            .teacherInfos {
                @include dFlex(column);
                @include centerXY(center, center);
                width: 40%;
    
                .imgContainer{
                    width: 60%;
    
                    img {
                        width: 100%;
                        border-radius: 15px;
                        box-shadow: black 0 0 15px;
                    }
    
                }

                >h3{
                    font-size: 1.7rem;
                    margin-block: 1rem;
                }
            }
            
            >.description {
                width: 40%;
                
                >h3{
                    font-size: 1.7rem;
                    font-weight: normal;
                    margin-block: 1rem;
                    font-style: italic;
                    color: $primaryDark;
                }
                >p{
                    font-size: 1.5rem;
                    text-align: justify;
                    line-height: 2.2rem;
                }
            }
        }

        .teacherComponent:nth-child(odd) {
            flex-direction: row-reverse;
        }

        .back{
            width: 250px;
            margin: 30px auto;
            text-align: center;

            a{
                @include roundedBtn;
                color: white;
                font-size: 1.2rem;
                width: 100%;
                padding: 10px 30px;
            }
        }
    }
}


// _________________||| ABOUT COMPASS \\\________________\\

.aboutCompass{
    @include dFlex(row);
    @include centerXY(space-evenly, center);
    margin-block: 50px;
    width: 90%;
    margin-inline: auto;

    .aboutContainer{
        @include dFlex(column);
        @include centerXY(center, center);
        width: 50%;
    

        .imgContainer{
            @include dFlex(row);
            @include centerXY(center, center);
            width: 300px;
            border-top-right-radius: 67% 59%;
            border-top-left-radius: 33% 52%;
            border-bottom-left-radius: 35% 48%;
            border-bottom-right-radius: 72% 51%;
            overflow: hidden;
            box-shadow: 1px 2px 5px black;
            
            img{
                width: 100%;
                transform: scaleX(-1);
            }

        }

        .imgContainerBis {
            @include dFlex(row);
            @include centerXY(center, center);
            width: 300px;
            border-top-left-radius: 67% 59%;
            border-top-right-radius: 33% 52%;
            border-bottom-right-radius: 35% 48%;
            border-bottom-left-radius: 72% 51%;
            overflow: hidden;
            box-shadow: -1px 2px 5px black;
            
            img{
                width: 100%;
            }
        }

        

        h2, p{
            width: 65%;
            font-size: 1.5rem;
            text-align: center;
            line-height: 2.3rem;
        }
    }
}


// _________________||| FAQ \\\________________\\

.faq {
    position: relative;
    z-index: 10;

    .QA{
        width: 80%;
        margin: 30px auto;
        background: linear-gradient(65deg, $primaryLight 30%, $primaryBasic);
        border-radius: 15px;
        color: $primaryDark;
        box-shadow: 0 0 5px $primaryDark;
        transition: all 0.3s ease-in;
        
        p{
            cursor: pointer;
            padding: 25px;
            padding-top: 0;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 2.5rem;
        }
        
        summary {
            cursor: pointer;
            padding: 25px;
            font-weight: normal;
            font-size: 1.5rem;
            margin-block: 10px;
        }

        &:hover{
            box-shadow: 0 0 15px 2px $primaryDark;
        }
        
    }

}


// _________________||| FOOTER \\\________________\\

footer {
    background: linear-gradient(100deg, $primaryDark, $primaryLight);
    color: black;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    box-shadow: 0 0 5px $primaryDark;

    .copyright{
        font-size: 1.2rem;
        margin: 5px 0;
    }
    
    section{
        
        .legals{
            @include dFlex(row);
            @include centerXY(space-evenly, center);
            width: 15%;
            margin-inline: auto;

            div{
                display: none;
            }

            h4{
                font-size: 1rem;
                margin: 15px auto;
                font-weight: normal;
                padding: 8px 15px;
                border-radius: 25px;
                box-shadow: inset 0 0 5px;


            }

            &:hover{
                cursor: pointer;
                text-shadow: 0 0 5px black;
                color: whitesmoke;
                
                h4{
                    box-shadow:inset 0 0 10px black;
                }
            }
        }
        
        .legals.showLegal{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 90vh;
            background: linear-gradient(75deg, $primaryDark, black);
            color: $primaryDark;

            h4{
                width: 100%;
                color: whitesmoke;
            }

            >div{
                @include dFlex(column);
                width: 38%;
                height: 38vh;
                color: whitesmoke;

                h5{
                    text-align: center;
                    font-size: 1rem;
                    margin: 15px 0;
                }
                
                p{
                    text-align: center;
                    line-height: 1.5rem;
                }

                >div{
                    @include dFlex(column);
                    @include centerXY(space-evenly, center);
                    width: 100%;

                    p{
                        margin-bottom: 0;

                        a{
                            color: $primaryLight;
                            font-weight: bold;
                            transition: color 0.3s ease-in;

                            &:hover{
                                color: white;
                                text-shadow: 0 0 2px $primaryLight;

                            }
                        }
                    }
                }

            }

            &:hover{
                text-shadow: none;
                color: whitesmoke;
                
                h4{
                    box-shadow: none;
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {

    h1, h2, h3, p, a, span,  summary, details, button, label {
        font-size: smaller;
    }
    .basicHeader{
        
        .bubble {
            display: none;
        }
    }


    // _________________||| NAVIGATION \\\________________\\

    .frontNav{
        
        flex-direction: column;
        @include centerXY(flex-start, center);
        padding: 0;
        background: none;
        transition: all 0.3s ease-in;

        .logo{
            display: none;
        }
        .linkWord{
            display: none;
        }
        
        .loginBtn, .homeBtn{
            display: flex;
            position: fixed;
            top: 0;
            z-index: 101;
            width: 60px;
            height: 60px;
            border-radius: 15px;
            box-shadow: 0 0 5px $primaryLight;
            margin-block: 15px;
            border-left: none;
            transition: all 0.3s ease-in;

            a{
                @include dFlex(column);
                @include centerXY(center, center);
                width: 100%;
                height: 100%;

                svg{
                    width: 25px;
                    height: 25px;
                    margin-right: 0;
                }
            }

            &:hover{
                box-shadow: 0 0 10px 2px $primaryLight;
                background-color: transparent;
            }
        }
        .loginBtn{
            right: 10vw;
        }
        .homeBtn{
            left: 10vw;
            

            a{
                width: 100%;
                height: 100%;

                svg{
                    width: 27px;
                    height: 24px;
                }
            }
        }
        
        .dropdownBtnContainer{
            @include dFlex(column);
            @include centerXY(center, center);
            position: fixed;
                top: 0;
            background: linear-gradient(90deg, $primaryDark,black 15% 85%, $primaryDark);
            width: 100vw;
            height: 15vh;
            z-index: 100;
            
            .dropdownBtn{
                margin: 0 auto;
                width: 60px;
                height: 60px;
                border-radius: 15px;
                box-shadow: 0 0 5px $primaryLight;
                margin-block: 15px;
                transition: all 0.3s ease-in;
    
                span{
                    display: block;
                    border-top: solid 2px rgb(188, 247, 222);
                    width: 70%;
                    margin: 23% auto 0;
                    transition: all 0.3s ease-in;
                }
            }
    
            .dropdownBtn:hover{
                cursor: pointer;
                box-shadow: 0 0 10px 2px $primaryLight;
            }
        }
    
        .navLinks{
            position: absolute;
                top: -100vh;
                left: 0;
                right: 0;
            @include centerXY(space-evenly, center);
            @include dFlex(column);
            background-color: black;
            width: 100%;
            height: 0;
            margin: 0;
            z-index: 99;
            transition :all 0.7s ease-in-out;
            
            li{
                width: 70%;
                text-align: center;
                a {
                    width: 100%;
                    padding: 15px 0;
                }
                a:hover{
                    box-shadow: 0 0 10px $primaryLight;
                }
            }
        }
    }
    .frontNav.mobileNav{

        .navLinks{
            position: fixed !important;
                top: 15vh;
                left: 0;
                right: 0;
                bottom: 0;
                height: 85vh;
        }

        .dropdownBtnContainer{
            box-shadow: 0 0 5px $primaryLight;
            
            .dropdownBtn.closeBtn{
    
                span:nth-child(1){
                    transform: rotate(45deg);
                    translate: 0 15px;
                    transition:all 0.5s ease-in-out;
                }
                span:nth-child(3){
                    transform: rotate(-45deg);
                    transition: all 0.5s ease-in-out;
                }
                span:nth-child(2){
                    display: none;
                }
            }
        }
    }



    // _________________||| HEADER \\\________________\\

    .bgHeader {
        padding-top: 15vh;
        margin: 0 auto 20px;

        section{
            width: 80%;
        }

        h1 {
            font-size: 2rem;
        }
        p {
            text-align: center;
            font-size: 1.2rem;
        }
    }

    // _________________||| Who Are We \\\________________\\

    .whoAreWeSection{

        .whoAreWeProfile{
            @include dFlex(column);
            @include centerXY(space-evenly, center);

            .imgContainer{
                width: 55vw;
            }

            p {
                width: 60vw;
            }
        }
    }

    // _________________||| Teachers \\\________________\\

    main{

        .professorsList{

            .teacherComponent,
            .teacherComponent:nth-child(odd)
            { 
                @include dFlex(column);
                @include centerXY(space-evenly, center);
            }

            .teacherComponent{

                .teacherInfos{
                    width: 80%;
                }

                .description{
                    width: 80%;
                }
            }
        }
    }


    // _________________||| ABOUT COMPASS \\\________________\\
    
    .aboutCompass{
        @include dFlex(column);
    
        .aboutContainer{
            width: 90%;
        }
    }
}
