@import "../styles/mixins.scss";
@import "../styles/variables.scss";

@keyframes showWord {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: inline;
    }
}
main {

    section {
        width: 90%;
        margin: 0 auto;
        
    }
}

.cardContainer {
    position: relative;
    @include dFlex(row);
    @include centerXY(space-evenly, flex-start);
    margin: 0 auto;
    padding: 30px 0;
    box-shadow: inset 0 0 10px black;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    
    .card {
        @include dFlex(column);
        @include centerXY(space-between, center);
        background: linear-gradient(45deg, $primaryDark, black);
        padding: 20px 40px;
        margin-block: 20px;
        opacity: 0.9;
        width: 30%;
        height: 100%;
        border-radius: 25px;
        box-shadow: 0 0 15px $primaryDark;
        transition: all 0.5s ease-in, box-shadow 0.2s;
        cursor: pointer;
        
        .cardImg {
            height: 100px;
            img {
                height: 100%;
            }
        }
        
        h3 {
            font-size: 2rem;
            color: white;
            margin: 0;
            
        }

        p {
            color: white;
            text-align: center;
        }
        
        .cardDescription {
            @include dFlex(column);
            @include centerXY(space-between, center);
            
            p {
                color: transparent;
                opacity: 0;
                display: none;
                transition: all 0.5s ease-in-out;
                font-size: 1.3rem;
                line-height: 1.7rem;
                text-align: center;
    
                span {
                    display: inline-block;
                    animation: showWord 0.5s ease-in-out forwards;
                }
                
                .word {
                    opacity: 0;
                    animation: opacity 0.5s ease-in-out;
                }
                .show {
                    opacity: 1;
                }
            }
            .cardBtn {
                display: none;
                @include roundedBtn;
                margin-block: 20px;
                transition: all 0.5s ease-in-out;
            }
        }

    }

    .card.expanded {
        position: fixed;
        top: 5%;
        left: 25%;
        right: 25%;
        height: 90%;
        width: 50%;
        margin: 0;
        background: linear-gradient($primaryLight, $primaryDark);
        z-index: 99;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 15px $primaryDark;
        justify-content: space-evenly;
        opacity: 1;
        backdrop-filter: blur(8px);

        .cardImg {
            height: 150px;

            img {
                width: 100%;
            }
        }

        h2, h3, p {
            color: black;
        }

        .cardDescription {
            p{
                display: block;
                opacity: 1;
            }

            .cardBtn {
                background-color: linear-gradient(45deg, $primaryDark, black);
                color: white;
                display: inline;
                font-size: 1.3rem;
                padding: 10px;
                box-shadow: 0 0 1px $primaryLight;

                &:hover {
                    color: black;
                    box-shadow: 0 0 10px $primaryDark;
                }
            }
        }
    }
}

// _________________||| Why Choose Us \\\________________\\

.cardSection {
    @include dFlex(column);
    @include centerXY(space-evenly, center);

    .cardContainer {

        .card {
            height: 270px;
            justify-content: flex-start;
            border-radius: 5px;
            background: linear-gradient(45deg, $primaryDark, whitesmoke);


            h3{
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 30px;
                color: black;
            }

            p {
                font-size: 1.2rem;
                color: black;
            }
        }
    }

    .discoverBtn {
        margin: 40px auto;
        
        a {
            @include roundedBtn;
            padding: 10px 20px;
            font-size: 1.3rem;
        }
    }

}


@media screen and (max-width: 768px) {

    main{
        margin-top: 6vh;
        
        h2 {
            font-size: 2rem;
            text-align: center;
        }
    }
    
    .cardContainer {

        margin-block: 20px;
        background: none;

        .card {
            width: 60%;
            object-fit: contain;
        }

        .card.expanded {
            width: 70%;
            top: 20%;
            left: 15%;
            right: 15%;
            height: 70%;

            .cardImg {
                height: 120px;
            }
        }
    }

    // _________________||| Why choose us \\\________________\\
    .cardSection {
        .cardContainer {
            box-shadow: none;

            .card {
                width: 60%;
                height: 100%;
            }
        }
    }
}