@import "../styles/mixins.scss";
@import "../styles/variables.scss";

@keyframes showWord {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: inline;
    }
}

main {

    section {
        width: 90%;
        margin: 0 auto;
        
    }
}

.blurred.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px);
    /* ou toute autre valeur que tu veux utiliser */
    pointer-events: none;
    /* permet aux événements de passer à travers */
    z-index: 50;
    /* assure que cet élément est au-dessus des cartes */
}

.cardContainer {
    @include dFlex(row);
    @include centerXY(space-between, flex-start);
    margin: 0 auto;
    padding: 30px 0;
    // box-shadow: inset 0 0 10px black;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    
    .card {
        @include dFlex(column);
        @include centerXY(space-between, center);
        background: linear-gradient(45deg, $primaryDark, rgb(9, 0, 19));
        padding: 20px 40px;
        margin-block: 25px;
        opacity: 0.9;
        width: 30%;
        height: 100%;
        border-radius: 25px;
        box-shadow: 0 0 15px $primaryDark;
        transition: all 0.5s ease-in, box-shadow 0.2s;
        cursor: pointer;
        
        .cardImg {
            height: 100px;
            img {
                height: 100%;
            }
        }
        
        h3 {
            font-size: 2rem;
            color: white;
            margin: 0;
            
        }

        p {
            color: white;
            text-align: center;
        }
        
        .cardDescription {
            @include dFlex(column);
            @include centerXY(space-between, center);
            
            p {
                color: transparent;
                opacity: 0;
                display: none;
                transition: all 0.5s ease-in-out;
                font-size: 1.3rem;
                line-height: 1.7rem;
                text-align: center;
    
                span {
                    display: inline-block;
                    animation: showWord 0.5s ease-in-out forwards;
                }
                
                .word {
                    opacity: 0;
                    animation: opacity 0.5s ease-in-out;
                }
                .show {
                    opacity: 1;
                }
            }
            .cardBtn {
                display: none;
                @include roundedBtn;
                margin-block: 20px;
                transition: all 0.5s ease-in-out;
            }
        }

        &:hover {
            box-shadow: 0 0 25px 2px $primaryDark;
        }

    }


    .card.expanded {
        position: fixed;
        top: 10%;
        left: 25%;
        right: 25%;
        bottom: 10%;
        height: 80vh;
        width: 50%;
        margin: 0;
        background: linear-gradient($primaryLight, whitesmoke);
        z-index: 99;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 15px 1px black;
        justify-content: space-evenly;
        opacity: 1;

        .cardImg {
            height: 150px;

            img {
                width: 100%;
            }
        }

        h2, h3, p {
            color: black;
        }

        .cardDescription {
            p{
                display: block;
                opacity: 1;
            }

            .cardBtn {
                background-color: linear-gradient(45deg, $primaryDark, black);
                color: white;
                display: inline;
                font-size: 1.3rem;
                padding: 10px;
                box-shadow: 0 0 1px $primaryLight;

                &:hover {
                    color: black;
                    box-shadow: 0 0 10px $primaryDark;
                }
            }
        }
    }
}

// _________________||| Why Choose Us \\\________________\\

.homeCardSection {
    @include dFlex(column);
    @include centerXY(space-evenly, center);

    .cardContainer {

        .card {
            height: 330px;
            justify-content: flex-start;
            border-radius: 5px;
            background: linear-gradient(45deg, $primaryDark, whitesmoke);
            cursor: default;

            &:hover{
                box-shadow: 0 0 15px $primaryDark;
            }


            h3{
                height: 90px;
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 25px;
                color: black;
            }

            p {
                margin: 0;
                height: 130px;
                font-size: 1.3rem;
                color: black;
                text-align: center;
            }
        }
    }

    .discoverBtn {
        margin: 40px auto;
        
        a {
            @include roundedBtn;
            padding: 10px 20px;
            font-size: 1.3rem;
        }
    }

}


@media screen and (max-width: 768px) {

    main{
        margin-top: 6vh;
        
        h2 {
            font-size: 2rem;
            text-align: center;
        }
    }
    
    .cardContainer {

        margin-block: 20px;
        background: none;
        width: 100%;
        justify-content: center;

        .card {
            width: 80%;
            object-fit: contain;
        }

        .card.expanded {
            position: fixed;
            width: 80%;
            top: 17%;
            left: 10%;
            right: 10%;

            .cardImg {
                height: 120px;
            }
        }
    }

    // _________________||| Why choose us \\\________________\\
    .homeCardSection {
        .cardContainer {
            box-shadow: none;

            .card {
                width: 80%;
                height: 100%;

                p{
                    height: auto;
                }
            }
        }
    }
}