@import "../styles/mixins.scss";
@import "../styles/variables.scss";

@keyframes showWord {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: inline;
    }
}


// main {
//     min-height: 80vh;
// }

.cardContainer {
    position: relative;
    @include dFlex(row);
    @include centerXY(space-evenly, flex-start);
    margin: 0 auto;
    width: 75vw;
    padding: 30px;
    box-shadow: inset 0 0 15px 3px $primaryDark;
    border-radius: 25px;
    background: linear-gradient(160deg, $primaryLight 0%, $lightGrey 30%, $primaryLight 60%, $lightGrey 90%);
    transition: all 0.5s ease-in-out;
    
    .card {
        @include dFlex(column);
        @include centerXY(space-between, center);
        background: linear-gradient(45deg, $primaryDark, black);
        padding: 20px 40px;
        margin-block: 20px;
        opacity: 0.8;
        width: 15vw;
        height: 100%;
        border-radius: 25px;
        box-shadow: 0 0 15px $primaryDark;
        transition: all 0.5s ease-in, box-shadow 0.2s;
        cursor: pointer;
        
        .cardImg {
            width: 50%;
            img {
                width: 100%;
            }
        }
        
        h2 {
            font-size: 2rem;
            color: white;
            margin: 0;
            
        }
        
        .cardDescription {
            @include dFlex(column);
            @include centerXY(space-between, center);
            
            p {
                color: transparent;
                opacity: 0;
                display: none;
                transition: all 0.5s ease-in-out;
                font-size: 1.3rem;
                line-height: 1.7rem;
                text-align: center;
    
                span {
                    display: inline-block;
                    animation: showWord 0.5s ease-in-out forwards;
                }
                
                .word {
                    opacity: 0;
                    animation: opacity 0.5s ease-in-out;
                }
                .show {
                    opacity: 1;
                }
            }
            .cardBtn {
                display: none;
                @include roundedBtn;
                margin-block: 20px;
                transition: all 0.5s ease-in-out;
            }
        }

    }

    .card.expanded {
        width: 23vw;
        height: 430px;
        background: $primaryLight;
        img {
            width: 100%;
        }

        h2 {
            color: black;
        }

        .cardDescription {
            p{
                color: black;
                display: block;
                opacity: 1;
            }

            .cardBtn {
                background-color: $primaryDark;
                color: white;
                display: inline;
            }
        }
    }

    .card:hover {
        box-shadow: 0 0 15px 2px black;
    }
}