@import "../styles/mixins.scss";
@import "../styles/variables.scss";





// _______________||| CONTACT_FORM \\\________________\\

.formContent {
    @include dFlex(column);
    @include centerXY(flex-start, center);
    width: 55vw;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 8px black;
    border-radius: 10px;

    h2 {
        text-align: center;
        color: black;
        text-shadow: none;
    }

    
    .formLabel {
        text-align: start;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        width: 90%;
    }

    .formControl {
        width: 90%;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .formControl:focus {
        outline: none;
        box-shadow: 0px 0px 5px black;
        transition: box-shadow 0.4s ease-in;
    }

    .sendBtn {
        @include roundedBtn;
        padding-block: 10px;
        outline: none;
        width: 50%;
        margin-top: 20px;
    }

    textarea {
        height: 100px;
    }
}