@import "../styles/mixins.scss";
@import "../styles/variables.scss";

body {
    background-color: $whiteSmoke;
    min-height: 100vh;
}

// _________________||| HEADER \\\________________\\

.navTop {
    @include dFlex(row);
    @include centerXY(space-between, center);
    background: linear-gradient(100deg, $darkBlue, $basicBlue);
    color: $darkBlue;
    box-shadow: 0 0 4px 1px $darkBlue;


    // _________________||| LOGO \\\________________\\
    .dashLogo {
        @include centerXY(center, center);
        text-align: center;
        font-size: 22px;
        width: 10vw;
        transition: color 0.3s ease;

        a {
            cursor: pointer;
            color: white;
        }
    }

    // _________________||| LINKS \\\________________\\

    .aTop {
        @include dFlex(row);
        @include centerXY(flex-start, center);
        font-size: 18px;
        width: 75vw;
        padding: 0;
        margin: 0;

        li {
            width: 7rem;
            list-style: none;
            margin-inline: 20px;

            a {
                display: block;
                width: 100%;
                @include blockBtn;
                color: white;
                text-decoration: none;
                background-color: $darkBlue;
                opacity: 0.8;
                text-align: center;

                &:hover {
                    color: $darkBlue;
                    cursor: pointer;
                    box-shadow: 0 0 5px black;
                    background-color: $lightBlue;
                }
            }
        }
    }

    .backlogBtn {
        @include dFlex(row);
        @include centerXY(center, center);
        font-size: 20px;
        border-left: solid 1px white;
        width: 10vw;
        height: 100%;

        a {
            text-decoration: none;
            color: white;
        }

        &:hover {
            background-color: $lightBlue;
            cursor: pointer;

            a {
                display: block;
                color: $darkBlue;
            }
        }
    }
}

// _________________||| LEFT COLUMN NAV \\\________________\\

.leftColumn {
    @include dFlex(column);
    @include centerXY(space-between, flex-start);
    width: 10%;
    height: 100vh;
    background: linear-gradient(160deg, $darkBlue 0%, $basicBlue 90%);


    .aLeft {
        @include dFlex(column);
        @include centerXY(center, center);
        font-size: 1rem;
        width: 100%;
        padding: 0;

        li {
            list-style: none;
            width: 100%;

            a {
                display: block;
                @include blockBtn;
                color: white;
                text-decoration: none;
                background-color: $darkBlue;
                opacity: 0.8;
                text-align: flex-start;

                &:hover {
                    color: $darkBlue;
                    cursor: pointer;
                    box-shadow: 0 0 5px black;
                    background-color: $lightBlue;
                }
            }
        }
    }
}