@import "../styles/mixins.scss";
@import "../styles/variables.scss";

body {
    background-color: whitesmoke;
}

main {
    min-height: 90vh;
}

// _________________||| HEADER \\\________________\\

.navTop {
    @include dFlex(row);
    @include centerXY(space-between, center);
    background: linear-gradient(100deg, $darkBlue, $basicBlue);
    color: $darkBlue;
    height: 10vh;

    // _________________||| LOGO \\\________________\\
    .links {
        @include dFlex(row);
        @include centerXY(center, center);
        height: 100%;
        align-items: center;

        .logo {
            @include dFlex(row);
            @include centerXY(center, center);
            width: 10vw;

            a {
                cursor: pointer;
                color: white;
                text-shadow: 0 0 7px black;
            }
        }

        a {
            cursor: pointer;
            color: white;
        }

        // _________________||| LINKS \\\________________\\

        .aTop {
            @include dFlex(row);
            @include centerXY(flex-start, center);
            height: 100%;
            padding: 0;
            margin: 0;

            li {
                margin: auto 0;
                border-right: solid 1px $whiteSmoke;
                height: 100%;

                a {
                    display: flex;
                    align-items: center;
                    padding: 0 50px;
                    color: white;
                    height: 100%;
                    transition: color 0.3s ease;
                    background-color: $darkBlue;

                    &:hover {
                        color: $darkBlue;
                        font-weight: bold;
                        cursor: pointer;
                        box-shadow: 0 0 5px black;
                        background-color: $lightBlue;
                    }
                }
            }
        }
    }

    .backlogBtn {
        display: flex;
        align-items: center;
        font-size: 20px;
        border-left: solid 1px white;
        padding: 0 50px;
        height: 100%;
        transition: color 0.3s ease;

        a {
            text-decoration: none;
            color: white;
        }

        &:hover {
            background-color: $lightBlue;
            cursor: pointer;

            a {
                font-weight: bold;
                font-style: italic
            }
        }
    }
}

.profilePage {
    @include dFlex(row);
    width: 100%;

    // _________________||| LEFT COLUMN NAV \\\________________\\

    .leftColumn {
        width: 10vw;
        background: linear-gradient(160deg, $darkBlue 0%, $basicBlue 90%);


        .aLeft {
            text-align: center;
            font-size: 1rem;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                a {
                    @include dFlex(column);
                    @include blockBtn;
                    padding: 30px 15px;
                    color: white;
                    text-decoration: none;
                    background-color: $darkBlue;

                    &:hover {
                        color: $darkBlue;
                        font-weight: bold;
                        cursor: pointer;
                        box-shadow: 0 0 5px black;
                        background-color: $lightBlue;
                    }
                }
            }
        }
    }

    // _________________||| MAIN CONTENT \\\________________\\

    .mainCtn {
        @include dFlex(column);
        @include centerXY(normal, center);
        width: 90vw;
        max-width: 90vw;

        h1 {
            width: 50%;
            margin: 25px auto;
            padding: 15px;
            border-radius: 5px;
            box-shadow: black 0 0 15px;
            background-color: $darkBlue;
            color: white;
        }

        h2 {
            margin: 20px auto;
            padding: 15px;
            box-shadow: black 0 0 15px;
            border-radius: 5px;
            color: white;
            background-color: $basicBlue;
            font-size: 2rem;
        }

        // _________________||| PROFILE CONTENT \\\________________\\

        .profileContainer {
            @include dFlex(column);
            @include centerXY(space-between, center);
            width: 80vw;
            box-shadow: black 0 0 15px;
            border-radius: 5px;
            margin-bottom: 25px;

            .profileDescription {
                @include dFlex(row);
                @include centerXY(space-evenly, center);
                width: 100%;
            }

            // _________________||| PROFILE INFO \\\\________________\\

            .profileInfo {
                @include dFlex(column);
                @include centerXY(space-between, center);
                width: 48%;

                .infoCtn {
                    width: 100%;
                    color: black;

                    ul {
                        padding: 0;
                    }

                    
                    li {
                        font-weight: bold;
                        list-style: none; 
                    }


                    p {
                        background-color: $whiteSmoke;
                        box-shadow: black 0 0 15px;
                        padding: 15px;
                        border-radius: 5px;
                        text-align: center
                    }
                }
            }

            // _________________||| PROFILE PHOTO \\\\________________\\

            .profilePhoto {
                @include dFlex(column);
                @include centerXY(center, center);
                width: 48%;

                .photo {
                    @include dFlex(column);
                    @include centerXY(space-between, center);

                    img {
                        border-radius: 15px;
                        box-shadow: black 0 0 15px;
                        width: 70%;
                    }
                }
            }

            .profileBtn {
                @include backBtn;
                margin: 50px auto;

                &:hover {
                    color: $darkBlue;
                    font-weight: bold;
                }
            }
        }
    }
}