@import "../styles/mixins.scss";
@import "../styles/variables.scss";

body {
    background-color: whitesmoke;
}



// _________________||| HEADER \\\________________\\

.navTop {
    @include dFlex(row);
    @include centerXY(space-between, center);
    background: linear-gradient(100deg, $darkBlue, $basicBlue);
    color: $darkBlue;
    height: 10vh;

    // _________________||| LOGO \\\________________\\
    .links {
        @include dFlex(row);
        @include centerXY(center, center);
        height: 100%;
        align-items: center;

        .logo {
            @include dFlex(row);
            @include centerXY(center, center);
            width: 130px;

            a {
                cursor: pointer;
                color: white;
                text-shadow: 0 0 7px black;

                img {
                    display: block;
                    padding: 5px;
                    width: 50%;
                    height: 50%;
                    margin: 0 auto;
                }
            }
        }

        a {
            cursor: pointer;
            color: white;
        }

        // _________________||| LINKS \\\________________\\

        .aTop {
            @include dFlex(row);
            @include centerXY(flex-start, center);
            height: 100%;
            padding: 0;
            margin: 0;

            li {
                margin: auto 0;
                border-right: solid 1px $whiteSmoke;
                height: 100%;

                a {
                    @include dFlex(row);
                    @include centerXY(center, center);
                    color: white;
                    height: 100%;
                    width: 150px;
                    transition: color 0.3s ease;
                    background-color: $darkBlue;

                    &:hover {
                        color: $darkBlue;
                        font-weight: bold;
                        cursor: pointer;
                        box-shadow: 0 0 5px black;
                        background-color: $lightBlue;
                    }
                }
            }
        }
    }

    .profileLogoutBtn {
        font-size: 20px;
        border-left: solid 1px white;
        padding: 0 50px;
        height: 100%;
        transition: all 0.3s ease-in;
        @include dFlex(row);
        @include centerXY(center, center);

        a {
            vertical-align: middle;
            text-decoration: none;
            color: white;

            i {
                vertical-align: middle;
            }
        }

        &:hover {
            background-color: $lightBlue;
            cursor: pointer;

            a {
                font-weight: bold;
                // font-style: italic;
            }
        }
    }
}

.profilePage {
    display: flex;
    width: 100%;
    margin-top: 0;

    // _________________||| LEFT COLUMN NAV \\\________________\\

    
    .aLeft {
        width: 130px;
        background: linear-gradient(160deg, $darkBlue 0%, $basicBlue 90%);
        font-size: 1rem;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            
            a {
                display: block;
                @include blockBtn;
                padding: 30px 10px;
                color: white;
                text-decoration: none;
                background-color: $darkBlue;
                width: 130px;

                &:hover {
                    color: $darkBlue;
                    font-weight: bold;
                    cursor: pointer;
                    box-shadow: 0 0 5px black;
                    background-color: $lightBlue;
                }
            }
        }
    }


    // _________________||| MAIN CONTENT \\\________________\\

    .mainCtn {
        @include dFlex(column);
        @include centerXY(normal, center);
        width: 90vw;

        h1 {
            width: 50%;
            margin: 25px auto;
            padding: 15px;
            border-radius: 5px;
            box-shadow: black 0 0 15px;
            background-color: $darkBlue;
            color: white;
        }

        h2 {
            margin: 20px auto;
            padding: 15px;
            box-shadow: black 0 0 15px;
            border-radius: 5px;
            color: white;
            background-color: $basicBlue;
            font-size: 2rem;
        }

        // _________________||| PROFILE CONTENT \\\________________\\

        .profileContainer {
            @include dFlex(column);
            @include centerXY(space-between, center);
            width: 80vw;
            box-shadow: black 0 0 15px;
            border-radius: 5px;
            margin-bottom: 25px;

            .profileDescription {
                @include dFlex(row);
                @include centerXY(space-evenly, center);
                width: 100%;
            }

            // _________________||| PROFILE INFO \\\\________________\\

            .profileInfo {
                @include dFlex(column);
                @include centerXY(space-between, center);
                width: 50%;


                .inputBirth {
                    text-align: center;
                }

                ul {
                    padding: 0;
                    width: 80%;
                }


                li {
                    font-weight: bold;
                }


                p {
                    box-shadow: black 0 0 15px;
                    padding: 15px;
                    border-radius: 5px;
                    text-align: center;
                }
            
            }

            // _________________||| PROFILE PHOTO \\\\________________\\

            .profilePhoto {
                @include dFlex(column);
                @include centerXY(center, center);
                width: 50%;

                .inputChangePhoto {
                    padding: 20px;
                }

                img {
                    border-radius: 15px;
                    box-shadow: black 0 0 15px;
                    width: 70%;

                    // &:hover {
                    //     background-position: center center;
                    //     background-repeat: no-repeat;
                    //     background-size: 24px 24px;
                    //     height: 100%;
                    //     opacity: 0.8;
                    //     outline: rgb(66, 153, 225) solid 1px !important
                    // }
                }


            
            }

            .profileBtn {
                @include backBtn;
                margin: 50px auto 80px;

                a {
                    color: white;
                }

                &:hover {
                    a {
                        color: $darkBlue;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
    .linkWord {
        display: none;
    }

    i{
        margin-right: 0;
    }

    .navTop{
        justify-content: center;

        >.links{
            display: block;
            >.aTop{

                >li{
                    border-right: none;
                
                    >a {
                        width: 100px;
                        background-color: transparent;

                        &:hover {
                            box-shadow: none;
                        }
                    }
                }
                li:nth-child(2){
                    border-inline: white 1px solid;
                }
            }
        }

        .profileLogoutBtn {
            border: none;
            width: 100px;
        }
    }
    
    .logo>a {
        display: none;
    }

    .profilePage {

        .aLeft {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 10%;
            @include dFlex(row);
            @include centerXY(space-evenly, center);
            width: 100%;
            
            li{
                 
                a{
                    @include dFlex(row);
                    @include centerXY(center, center);
                    width: 80px;
                    background-color: transparent!important;

                    i{
                        margin-right: 0;
                    }
                }
            }
        }

        .mainCtn{
            width: 100vw;

            .profileContainer{
                flex-direction: column;
                box-shadow: none;
                width: 100%;

                .profileDescription{
                    flex-direction: column-reverse;
                    
                    .profilePhoto{
                        width: 75%;
                    }

                    .profileInfo{
                        width: 90%;
                    }

                }
            }

        }
    }
}