@import "../styles/mixins.scss";
@import "../styles/variables.scss";


// _________________||| LOGIN_FORM \\\________________

.loginForm {
    width: 35vw;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(160deg, $primaryLight 0%, $lightGrey 90%);

    .formTitle {
        font-size: 24px;
        margin-bottom: 20px;
    }

    div {
        margin-bottom: 25px;

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="email"],
        input[type="password"] {
            width: 70%;
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .rememberMe {
            display: flex;

            input[type="checkbox"] {
                margin-right: 5px;
            }
        }
    }

    .submitBtn, .signUpBtn {
        @include roundedBtn;
        background-color: $primaryDark;
        color: white;
        cursor: pointer;
        width: 150px;

        &:hover {
            background-color: $primaryLight;
            color: $primaryDark;
        }
    }

    p {
        margin-top: 20px;
        font-size: 16px;
    }
    .signUpBtn{
        margin: 0 auto;
        a{
            display: block;
            margin: 0 auto;
            text-decoration: none;
            color: white;
            &:hover{
                color: $primaryDark;
            }
        }
    }
}

// _________________||| NEW_ELEMENTS_FORM \\\________________

.formStructure {
    @include dFlex(column);
    @include centerXY(center, center);
    form{
        width: 35vw;
        margin: 50px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: linear-gradient(160deg, $primaryLight 0%, $lightGrey 90%);

        div {
            @include dFlex(column);
            margin-bottom: 25px;
            color: $primaryDark;
            label {
                font-size: 1.3em;
                margin-left: 1.5em;
            }
            input {
                width: 60%;
                margin-top: 10px;
            }
        }
        .dateChoice {
            @include dFlex(row);

            select {
                width: 70px;
                margin-top: 5px;
                margin-right: 25px; 
            }
        }
        .checkboxStyle {
            @include dFlex(row);
            @include centerXY(center, center);
            border: 1px solid $primaryDark;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 0;
            input {
                width: 8%;
                margin-block: 10px;
            }
            label{
                width: 23%;
                margin-block: 10px;
                margin-left: 0.5em;
            }
        }
        button {
            display: block;
            @include roundedBtn;
            margin: 0 auto;
        }
    }
}