@import "../styles/mixins.scss";
@import "../styles/variables.scss";


//________________GENERAL________________\\

*{
    box-sizing: border-box;
}

.price{
    font-weight: bold;
}


.priceSection {
    width: 100%;

    h2{
        text-align: center;
    }

    .priceDescription{
        line-height: 2rem;
        font-size: 1.3rem;
        text-align: center;
        width: 80%;
        margin: 20px auto;
    }
    
    .perLessons{
        @include dFlex(row);
        flex-wrap: nowrap;
        @include centerXY(space-evenly, center);
        margin-block: 40px;

        .priceCard{
            @include dFlex(column);
            @include centerXY(space-evenly, center);
            width: 20%;
            box-shadow: 0 0 5px black;
            border-radius: 10px;
            margin-bottom: 25px;
            background: linear-gradient($primaryDark, $primaryLight 80%);

            h3{
                color: whitesmoke;
            }

            >div{
                @include dFlex(row);
                @include centerXY(space-evenly, space-evenly);
                border-top: solid 1px black;
                width: 100%;

                div{
                    width: 30%;
                    text-align: center;
                    padding-block: 5px;
                }

                >div:nth-child(1){
                    border-right: 1px solid black;
                }
                >div:nth-child(3){
                    border-left: 1px solid black;
                }
            }
        }
    }

    .perMonth{
        @include dFlex(column);
        @include centerXY(space-evenly, center);
        width: 50vw;
        box-shadow: 0 0 5px black;
        border-radius: 10px;
        margin: 0 auto;
        background: linear-gradient($primaryDark, $primaryLight 80%);

        h3 {
            color: whitesmoke;
        }

        p{
            width: 80%;
            text-align: center;
        }
        
        .perWeekFormulas{
            @include dFlex(row);
            @include centerXY(space-evenly, center);
            border-top: 1px solid black;
            width: 100%;
            
            >div:nth-child(2){
                border-left: 1px solid black;
            }

            .perWeek{
                @include dFlex(column);
                @include centerXY(space-evenly, center);
                width: 50%;

                >div {
                    @include dFlex(row);
                    @include centerXY(space-evenly, center);
                    width: 100%;
                    border-top: solid 1px black;

                    >div {
                        width: 50%;
                        text-align: center;
                        padding-block: 5px;
                    }

                    >div:nth-child(2){
                        border-left: 1px solid black;
                    }
                }
            }

        }
    }

    .discoverBtn{
        @include roundedBtn;
        width: 150px;
        padding: 10px;
        text-align: center;
        margin: 25px auto;

        a{
            color: whitesmoke;
        }
    }
}

@media (max-width: 768px) {
    .priceSection{

        .perLessons{
            flex-direction: column;
            
            .priceCard{
                width: 60%;
            }
        }

        .perMonth{
            width: 70vw;
        }
    }
}