@import "../styles/mixins.scss";
@import "../styles/variables.scss";

// _________________||| TITLE \\\________________

h1 {
    text-align: center;
}

.tableFeatures {
    @include dFlex(row);
    @include centerXY(space-evenly, center);
    margin-block: 20px;

    .newBtn {
        @include roundedBtn;
        text-align: center;
        font-size: 18px;
    }

    .searchForm {
        @include dFlex(row);
        background-color: $primaryDark;
        padding: 5px;
        border-radius: 10px;

        label {
            padding-inline: 10px;
            text-align: center;
            color: white;
            margin-top: 4px;
        }

        input {
            border-radius: 5px;
        }

        button {
            margin-inline: 5px;
            padding-inline: 5px;
            border: transparent;
            border-radius: 10px;
            background-color: $primaryLight;
            color: $primaryDark;
            cursor: pointer;
        }
    }
}

table {
    min-width: 80vw;
    max-width: 90vw;
    margin: 50px auto;
    border-spacing: 0;
    border-radius: 10px;
    object-fit: contain;


    tr:nth-child(odd) {
        background-color: $primaryBasic;
        color: white;
        font-weight: 500;

        a {
            color: white;
            transition: color 0.3s ease;
            background-color: $primaryDark;

            &:hover {
                color: $primaryDark;
                cursor: pointer;
                background-color: $primaryLight;
            }
        }
    }


    td:last-child,
    th:last-child {
        width: 400px;

    }

    th {
        background-color: $primaryDark;
        color: whitesmoke;
    }

    th,
    td {
        min-width: 20px;
        text-align: center;
        padding: 10px 10px;
        border-bottom: solid 1px $primaryBasic;
    }

    th:first-child {
        border-radius: 10px 0 0 10px;
    }

    td:first-child {
        border-radius: 10px 0 0 10px;
        border-left: solid 1px $primaryBasic;
    }

    th:last-child,
    td:last-child {
        border-radius: 0 10px 10px 0;
        border-right: solid 1px $primaryBasic;
    }

    a {

        background-color: $primaryBasic;
        border-radius: 10px;
        color: white;
        padding: 5px 50px;
        transition: color 0.3s ease;
        margin-inline: 5px;


        &:hover {
            color: $primaryBasic;
            background-color: $primaryLight;
            cursor: pointer;
        }
    }
}