// Visual Identity

$primaryBasic: #1a8448;
$primaryLight: #a3f5be;
$primaryDark: #184a2f;
$lightGrey: #d3e1d9;

// Visual Identy DashBoard
// Ocean

$secondaryDark: rgb(23, 15, 31);
$secondaryBasic: #4b21a6;
$secondaryLight: rgb(179, 121, 223);    
