// Visual Identity

$primaryBasic: #1a8448;
$primaryLight: #a3f5be;
$primaryDark: #184a2f;
$lightGrey: #d3e1d9;

// Visual Identy DashBoard
// Ocean

$darkBlue: #072A40;
$basicBlue: #178CA4;
$lightBlue: #18B7BE;    
$whiteSmoke: #F9F7F0;
