// Visual Identity

//Green Shades Style.

// $primaryBasic: #1a8448;
// $primaryLight: #a3f5be;
// $primaryDark: #184a2f;
// $lightGrey: #d3e1d9;

// // Blue Shades Style.

// $primaryBasic: #1a4c84;
// $primaryLight: #a3daf5;
// $primaryDark: #183b4a;
// $lightGrey: #d3dde1;

// Orange Shades Style.

$primaryBasic: #9a7dbc;
$primaryLight: #cba3f5;
$primaryDark: #30184a;
$lightGrey: #ddd3e1;

// Visual Identy DashBoard
// Ocean

$darkBlue: #072A40;
$basicBlue: #178CA4;
$lightBlue: #18B7BE;    
$whiteSmoke: #F9F7F0;

// danger

$danger: #a61d2b;