{% extends 'base.html.twig' %}

{% block title %}New Payment{% endblock %}

{% block body %}
<div class="formStructure">
    <h1>Create new Payment</h1>

    {{ include('admin/payment/_form.html.twig') }}
    <div class="adminBtn">
    <a href="{{ path('app_admin_payment_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
