{% extends 'front_base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <header>
        <section>
            <h1>About</h1>
            <p class="description">Compass Education Limited</p>
        </section>
    </header>
    <main>
        <section {{ react_component('AboutCEL') }}></section>
        <section></section>
    </main>
    <footer>
    </footer>
    
{% endblock %}
