{% extends 'front_base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <header class="bgHeader">
        <section>
            <h1>Compass School Story</h1>
            <p class="description">Established in 2020 by Layli and Christopher, Compass School emerges as an online educational haven. Their shared passion for teaching foreign languages comes alive through interactive and engaging courses. The journey begins with a collective vision: making learning accessible to all, transcending linguistic boundaries.</p>
        </section>
    </header>
    <main {{ react_component('AboutCEL') }}></main>
    
{% endblock %}
