{% extends 'front_base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <header>
        <section>
            <h1>Contact us !</h1>
        </section>
    </header>
    <main>
        <section {{ react_component('ContactForm') }}></section>
        <section></section>
    </main>
    <footer>
    </footer>
    
{% endblock %}
