{% extends 'front_base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <header class="basicHeader">
        <h1>Engage with Compass School:</h1>
        <p>Embark on a language-learning adventure with Compass School! Whether you seek information, have questions, or simply want to connect, we're here for you. Use the form below to reach out, and our passionate team, headed by founders Layli and Christopher, eagerly awaits your message. Your linguistic journey begins with a click. Let's explore the world of languages together!</p>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </header>
    <main>
        <section {{ react_component('ContactForm') }}></section>
    </main>
    
{% endblock %}
