{% extends 'front_base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <header>
        <h1>Need more details on our Formations ? <br> Feel free to contact us !</h1>
        <p>We will get back to you as soon as possible.</p>
    </header>
    <main>
        <section {{ react_component('ContactForm') }}></section>
    </main>
    
{% endblock %}
