 {% extends 'front_base.html.twig' %} 

 
{% block title %}FAQ{% endblock %}

{% block body %}
    <header>
        <section>
            <h1>FAQ</h1>
        </section>
    </header>
    <main>
        <section class="priceMain">
        <table>
            <tbody>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                </tr>
        {% for faq in faqs %}
                <tr>
                    <td>{{ faq.question }}</td>
                    <td>{{ faq.answer }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        </section>
        <section></section>
    </main>
    <footer>
    </footer>
    
{% endblock %}

