 {% extends 'front_base.html.twig' %} 

 
{% block title %}FAQ{% endblock %}

{% block body %}
    <header class="basicHeader">
        <section>
            <h1>FAQ</h1>
            <p>Welcome to our Frequently Asked Questions (FAQ) section, where we address common queries to provide you with quick and informative answers. Whether you're a prospective learner or a current user, this resource is designed to offer clarity on various aspects of our language education platform. Explore the FAQs to find information on enrollment, course content, technical support, and more.</p>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
        </section>
    </header>
    <main>
        <section class="faq">
        {% for faq in faqs %}
            <details class="QA">
                <summary class="question">{{ faq.question }}</summary>
                <p>{{ faq.answer }}</p>
            </details>
        {% endfor %}
        </section>
    </main>
    
{% endblock %}

