 {% extends 'front_base.html.twig' %} 

 
{% block title %}FAQ{% endblock %}

{% block body %}
    <header class="basicHeader">
        <section>
            <h1>FAQ</h1>
            <p>Frequently Asked Questions</p>
        </section>
    </header>
    <main>
        <section class="faq">
        {% for faq in faqs %}
            <details class="QA">
                <summary class="question">{{ faq.question }}</summary>
                <p>{{ faq.answer }}</p>
            </details>
        {% endfor %}
        </section>
    </main>
    
{% endblock %}

