{% extends 'front_base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <header class="homeHeader">
        <section>
            <h1>Welcome to Compass Education limited, the perfect place to learn a new language!</h1>
            <p class="description">Greetings from Compass School, where the world becomes your classroom! Established in 2020 by the passionate linguists Chris D and Leyli D, who have been sharing the gift of languages since 2017, Compass School is not just an educational institution; it's a compass guiding you through the exciting realms of multilingual mastery.</p>
        </section>
    </header>
    <main>
        <section {{ react_component('AboutUs') }}></section>
        <section {{ react_component('CardContainer') }}></section>
    </main> 
{% endblock %}
