{% extends 'front_base.html.twig' %}

{% block title %}Languages{% endblock %}

{% block body %}
    <main>
        <section {{ react_component('LanguageCard') }}></section>
    </main>
{% endblock %}
