{% extends 'front_base.html.twig' %}

{% block title %}Prices{% endblock %}

{% block body %}
    <header>
        <section>
            <h1>Our prices</h1>
        </section>
    </header>
    <main>
        <section {{ react_component('PriceContainer') }}></section>
    </main>
{% endblock %}
