{% extends 'front_base.html.twig' %}

{% block title %}Our Teachers{% endblock %}

{% block body %}
<header>
    <h1>Our Teachers</h1>
    <p>Meet the driving force behind your language-learning journey – our exceptional teaching team. Comprising passionate language experts and educators, our diverse faculty is dedicated to guiding you through a rich and immersive educational experience. Each instructor brings a unique skill set and cultural perspective, ensuring a well-rounded and personalized learning environment. Get to know the inspiring individuals who are committed to making your language-learning adventure both educational and enjoyable.</p>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
</header>
    <main {{ react_component('TeacherComponent') }}></main>
    
{% endblock %}
